.centerText{
    text-align: center;
}

.closeToMax{
    background-color: rgba(253, 255, 120, 0.863);
}

.hitMax{
    background-color: rgba(233, 0, 0, 0.7);
}

.inputWidth td input{
    width: 7rem;
}